
.calculator{
  color:white;
  margin-left:100px;
  margin-top:30px;
  width:200px;
  height:600px;
}
.title{
  margin-left:80px;
}
.keyboard{
  display:grid;
  grid-template-columns:25% 25% 25% 25%;
 
}

button{
  color:white;
  background-color:#bbb;
  font-size:30px
}
.button17 {
  width:100px;
 
 }
.button1, .button18, .button19{
  background-color: darkgray;
}
.button14, .button6, .button2, .button10, .button17{
  background-color: orange;
}


.display{
  background-color: darkgray;
  height:50px;
  font-size: 35px;
  text-align: right;
}


